*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*CONTENEDOR*/
.container{
    width: 90%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 15% 30% 25% 30%;
    grid-template-rows: 130px 300px  150px 50px;
}

/*CABECERA*/
header{
   grid-column: 1/5;
   grid-row: 1/2;
   text-align: center;
   border-bottom: 2px solid gray;
   font-family: "Lobster", cursive;
   color: gray;
}


/*NAV*/

nav{
    grid-column: 1/2;
    grid-row: 2/4;
    align-items: center;
    padding: 30px;
}

nav div{
    color: gray;
    font-family: "Lobster", cursive;
    margin-bottom: 20px;
}

/*Main*/

main{
    grid-column: 2/4;
    grid-row: 2/3;
    border: 1px solid gray;
    border-radius: 20px;
    margin-top: 20px;
}

/*Article*/

#e1{
    grid-column: 4/5;
    grid-row: 2/3;
    border: 1px solid gray;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 10%;
}

article{
    border: 1px solid gray;
    border-radius: 20px;
    margin-top: 20px;
}

/*FOOTER*/

footer{
    grid-column: 1/5;
    grid-row: 4/5;
    grid-template-columns: 20% 60% 20%; 
    grid-template-rows: 100px;
    display: grid;
    border-top: 2px solid gray;
    margin-top: 20px;
}

footer address{
    align-self: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

.copyright{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
}

.social{
    grid-column:3/4;
    grid-row: 1/2;
    justify-self: right;
    margin-right: 25px;
    align-self: center;
}