*{
    box-sizing: border-box;
}
/*--------------------------------CONTAINER---------------------------------*/
#container{
    width: 100%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 500px 550px 350px;
    border-top: 15px solid rgb(134, 33, 33);
}
/*--------------------------------MOVIL-------------------------------------*/
/*-----------------------------Header-Movil--------------------------------*/
header{
    position: sticky;
    top: 0;
    background-color: aqua;
    grid-column: 1/2;
    grid-row: 1/2;
}

/*---------------------------Main-Movil-------------------------------------*/
main{
    background-color: black;
    grid-column: 1/2;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 400px 650px;
}

main #InformacionPrimaria{
    background-color: coral;
    grid-column: 1/2;
    grid-row: 1/2;
}

main #Informacion-variasimg{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: darkgreen;
}
/*------------------------Footer-Movil-------------------------------------*/
footer{
    background-color: chocolate;
    grid-column: 1/2;
    grid-row: 4/5;
}

/*--------------------------------------TABLET----------------------------------------*/

@media screen and (min-width: 556px){

}

/*--------------------------------------Ordenador------------------------------------*/

@media screen and (min-width: 992px){
    #container{
        width: 90%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 90px 530px 300px 230px;
    }
/*----------------------------------------MAIN-----------------------------------------*/
/*--------------------------------------1 IMAGEN----------------------------------------*/

    #InformacionPrimaria{
        background-color: coral;
        grid-column: 1/2;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 45% 55%;
        grid-template-rows: 240px 290px;
    }

    #titulo{
        grid-column: 1/2;
        grid-row: 1/3;
        background-color: darkred;
    }

    #imagen{
        grid-column: 2/3;
        grid-row: 1/3;
        background-color: darksalmon;
    }
/*----------------------------------2 IMAGEN------------------------------------------------*/
    #Informacion-variasimg{
        grid-column: 1/2;
        grid-row: 3/4;
        background-color: darkgreen;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 430px;
    }

    #tit-variasIMG{
        grid-column: 1/2;
        grid-row: 1/2;
        background-color: darkslateblue;
    }

    #variasIMG{
        grid-column: 2/3;
        grid-row: 1/2;
        background-color: darkviolet;
    }
/*----------------------------------FOOTER------------------------------------------------------*/
    footer{
        grid-column: 1/2;
        grid-row: 4/5;
    }
}