*{
    box-sizing: border-box;
}
@media screen and (orientation: landscape){
    @media screen and (min-width:576px){
        #div1{
            width: 100%;
            background-color:burlywood;
            }
        
        #div2{
            width: 50%;
            background-color: red;
        }

        #div3{
            width: 50%;
            background-color: blue;

        }
        #div4{
            width: 100%;
            background-color: green;
        }
    }
}