*{
    box-sizing: border-box;
}

@media (min-width: 993px){
    #div1{
        width: 100%;
        background-color:burlywood;
        }
    
    #div2{
        width: 33%;
        background-color: red;
    }

    #div3{
        width: 34%;
        background-color: blue;
    }
    #div4{
        width: 33%;
        background-color: green;
    }
}